body {
  background-image: url("images/brickbg.png");
}
.detach {
  font-family: "Russo One", sans-serif;
}
h1 {
  font-family: "Russo One", sans-serif;
  margin: 20px auto 10px;
  text-align: center;
  font-size: 45px;
  color: rgb(69, 69, 69);
  text-align: center;
  border-radius: 3rem;
}
h2 {
  font-family: "Rajdhani", sans-serif;
  font-size: 25px;
  margin: 0px auto 20px;
  text-align: center;
  color: white;
}
main {
  margin-top: 35px;
  display: grid;
  grid-template-columns: auto 500px auto;
  grid-template-rows: 500px;
}

.plate {
  width: 500px;
  height: 500px;
  background-size: contain;
}

.square {
  width: 250px;
  height: 250px;
}
.green {
  float: left;
  background-image: url("images/green_off.png");
  background-size: cover;
}

.red {
  float: left;
  background-image: url("images/red_off.png");
  background-size: cover;
}

.yellow {
  float: left;
  background-image: url("images/yellow_off.png");
  background-size: cover;
}

.blue {
  float: left;
  background-image: url("images/blue_off.png");
  background-size: cover;
}

.btn {
  display: inline;
  width: 10%;
  height: 10%;
}

.pannel {
  text-align: center;
}
.left,
.right {
  margin: auto;
}
img {
  width: 250px;
  height: 250px;
}

.hidden {
  visibility: hidden;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
